@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
h3 {
    font-family: 'Shantell Sans', cursive;
  
    
}

.boton{
    background-color: #ac46a1;
    border-color: #ac46a1;
}

.boton:hover{
    background-color: #893581;
    border-color: #893581;
}


.anclas {
font-weight: 400;

}

.anclas:hover{
    text-decoration: underline;
}

.imgCarousel{
    height:550px;
    width:100%;
   
    object-fit: cover;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .imgcards{
    width: 100%; 
    height:250px;
    object-fit: cover;
 }